<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand"><a routerLink="/home" routerLinkActive="active">
        <img src="assets/img/title_gray.png" width = 400 class="d-inline-block align-top" alt="">
    </a></a>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a  class="nav-link"><a routerLink="/movies"> <h3 [translate]="'header.cat1'"></h3></a></a>
        </li>
        <li class="nav-item">
            <a class="nav-link"><a routerLink="/tvshows"><h3 [translate]="'header.cat2'"></h3></a></a>
        </li>
        <li class="nav-item">
            <a class="nav-link"><a routerLink="/people"><h3 [translate]="'header.cat3'"></h3></a></a>
        </li>
        </ul>
    </div>

    <div ngbDropdown class="d-inline-block" id="listLanguages" width=500>
        <button class="btn btn-outline-primary" id="titleListLanguages" style="height:50px;width:100px" ngbDropdownToggle><span class="flag-icon flag-icon-{{languageFlag}}"> </span> {{languageIso}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="changeLanguage('fr')"> <span class="flag-icon flag-icon-fr"> </span>   FR</button>
            <button ngbDropdownItem (click)="changeLanguage('en')"> <span class="flag-icon flag-icon-gb"> </span>   EN</button>
        </div>
    </div>
          
</nav>