<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
        <img src="assets/img/title_gray.png" width = 200 class="d-inline-block align-top" alt="">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
                <!-- <a routerLink="/test">test</a> -
                <a routerLink="/styles">styles</a> -
                <a routerLink="/eleves">eleves</a> -->
            <li class="nav-item active">
                <a class="nav-link" href="#">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><a routerLink="/Films">Films</a></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><a routerLink="/Séries">Séries</a></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><a routerLink="/Acteurs">Acteurs</a></a>
            </li>
            
            <!-- bloc menu déroulant -->
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Service 1</a>
                <a class="dropdown-item" href="#">Autre service action</a>
                <a class="dropdown-item" href="#">Dernier service</a>
            </div>
        </ul>
    </div>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search for a movie..." aria-label="Search">
        <button class="btn btn-default" type="submit">
            <img src="assets/img/search.svg" width = 20 class="d-inline-block align-top" alt="">
        </button>
    </form>
    <router-outlet></router-outlet>
</nav>
