<!-- <p>tvshow-finder works!</p> -->
<div class="container-fluid app-container">
    <div class="row">
        <div class="col-sm-1">
            <div class="sidebar-nav"></div>
                <div class="navbar navbar-default" role="navigation">
                        <div class="navbar-header">
                </div>
                <div class="sidenav">
                    <div class="panel-heading">Tv Shows Category</div>
                    <ul class="nav nav-stacked">
                            <a class="list-group-item" *ngFor="let genre of listGenres">{{genre.name}}</a>
                    </ul>
                </div>
            </div>
        </div>
        <!--/end left column-->
        <!--/.sidebar-offcanvas-->
        <div>
            <h3 class="orange-text">Search Results</h3>
            <app-tvshow-list [tvshows]="tvshows"> </app-tvshow-list>
        </div>
    </div>
</div>

